# Exclude Atmel Studio projects that I use for debugging in the examples directory. By convention these are in directory with a name beginning `as-'.
**/as-*   # Match all directories matching the pattern. 
