# COMMENTS CANNOT BE ON THE SAME LINE AS PATTERNS!!!!!!!!! That's an hour of my life I'll never get back!

# I use an Atmel Studio project for debugging the examples. This pattern excludes the build directory.
**/Debug/

# Stupid Atmel Studio is prone to creating these in the most surprising places...
.vs/    

# arduino-cli log file is not interesting.
arduino-cli.log

# Ignore coverage files.
**/*.gcda
**/*.gcno



